<!DOCTYPE html>

<html class="no-js">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/Scripts/js")*@
    <link rel="stylesheet" type="text/css" href="~/Content/normalize.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/demo.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/component.css" />
    <script src="~/Scripts/modernizr.custom.js"></script>
   
</head>
<body>
    <div class="container">


        <ul id="gn-menu" class="gn-menu-main">
            <li class="gn-trigger">
                <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
                <nav class="gn-menu-wrapper">
                    <div class="gn-scroller">
                        <ul class="gn-menu">
                                @if (Request.IsAuthenticated)
                                {
                                    <div class="demo">
                                        <input type="checkbox" id="hd-1" class="hide" />
                                        <label for="hd-1">Create new project (Press me)</label>
                                        <div>
                                            @Html.Partial("CreateProjectPartial")
                                        </div>
                                    </div>
                                         @Html.Partial("ListProjectPartial")
                                        }

                            <li><a class="gn-icon">Settings</a></li>

                        </ul>
                    </div><!-- /gn-scroller -->
                </nav>
            </li>
            <li><a class="codrops-icon codrops-icon-prev" href="#"><span>Demo</span></a></li>
            <li>@Html.Partial("_LoginPartial")</li>
            <li class="codrops-icon">
                <span>
                </span>

            </li>
        </ul>
        <div class="body-content">
            @RenderBody()

        </div>
        @*<header>
            
        </header>*@
        
    </div><!-- /container -->
    <script src="~/Scripts/classie.js"></script>
    <script src="~/Scripts/gnmenu.js"></script>
    <script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
    </script>
    
</body>
</html>
