<!DOCTYPE html>

<html class="no-js">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/Scripts/js")*@
    <link rel="stylesheet" type="text/css" href="~/Content/Workflow.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/normalize.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/demo.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/component.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/themes/base/jquery.ui.theme.css"/>
    <link rel="stylesheet" type="text/css" href="~/Content/themes/base/jquery.ui." />
    <script src="~/Scripts/modernizr.custom.js"></script>
    <script src="~/Scripts/jquery-2.2.1.js"></script>
    <link href='@Url.Content("~/Content/themes/base/jquery-ui.css")' rel="stylesheet" type="text/css" />
   
</head>
<body>
   
    <div class="container">


        <ul id="gn-menu" class="gn-menu-main">
            <li class="gn-trigger">
                <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
                <nav class="gn-menu-wrapper">
                    <div class="gn-scroller">
                        <ul class="gn-menu">
                               
                                        <div class="demo " style="line-height:50px;">
                                            <input type="checkbox" id="hd-1" class="hide " />
                                            <label for="hd-1">Your projects:</label>
                                            <div>
                                                <ul class="gn-submenu" style="border-top: 1px solid #c6d0da;"></ul>
                                                @if (Request.IsAuthenticated)
                                                {
                                                    <div class="IconMenuAdd">
                                                        @Html.ActionLink("Create new project ", "CreateProjectPartial", "Workflow",
                                                       new
                                                       {
                                                           @id = "IconMenuAdd",
                                                           data_dialog_title = "Create new project"
                                                       })
                                                    </div>
                                                }
                                              
                                                @Html.Partial("ListProjectPartial")

                                            </div>
                                        </div>
                                    
                                

                            <li><a class="gn-icon">Settings</a></li>

                        </ul>
                    </div><!-- /gn-scroller -->
                </nav>
            </li>
            <li><a class="codrops-icon codrops-icon-prev" href="/builder/ERModel"><span>DEMO ER-MODEL</span></a></li>
            <li>@Html.Partial("_LoginPartial")</li>
            <li class="codrops-icon">
                <span>
                </span>

            </li>
        </ul>
      
        @*<header>
            
        </header>*@
        
    </div><!-- /container -->
    <div class="container-fluid ">
        @RenderBody()




    </div>

    <script src="~/Scripts/classie.js"></script>
    <script src="~/Scripts/gnmenu.js"></script>
    <script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
    </script>
    <script src="~/Scripts/jquery-ui-1.10.2.min.js"></script>

    <script>
    $(document).ready(function () {

        $.ajaxSetup({ cache: false });

        $("#IconMenuAdd").on("click", function (e) {
            e.preventDefault();

            $("<div id='dialogContent'></div>")
                .addClass("dialog")
                .appendTo("body")
                .load(this.href)
                .dialog({
                    title: $(this).attr("data-dialog-title"),
                    close: function () { $(this).remove() },
                    modal: true,
                    buttons: {
                        "Create new project": function () {
                            $.ajax({
                             url: "@Url.Action("CreateProjectPartial", "Workflow")",
                             type: "POST",
                             data: $('form').serialize(),
                             datatype: "json",
                             success: function (result) {
                                 $("#dialogContent").html(result);
                                }
                            });
                        }
                    }
                });
        });
        $(".IconModalDelete").on("click", function (e) {
            e.preventDefault();

            $("<div id='dialogContent'></div>")
                .addClass("dialog")
                .appendTo("body")
                .load(this.href)
                .dialog({
                    title: $(this).attr("data-dialog-title"),
                    close: function () { $(this).remove() },
                    modal: true,
                    buttons: {
                        "Delete": function () {
                            $.ajax({
                                url: "@Url.Action("DeleteProjectPartial", "Workflow")",
                                type: "POST",
                            data: $('form').serialize(),
                            datatype: "json",
                            success: function (result) {
                                $("#dialogContent").html(result);
                            }
                        });
        }
        }
    });
        });

        $(".IconModalEdit").on("click", function (e) {
            e.preventDefault();

            $("<div id='dialogContent'></div>")
                .addClass("dialog")
                .appendTo("body")
                .load(this.href)
                .dialog({
                    title: $(this).attr("data-dialog-title"),
                    close: function () { $(this).remove() },
                    modal: true,
                    buttons: {
                        "Update": function () {
                            $.ajax({
                                url: "@Url.Action("UpdateProjectPartial", "Workflow")",
                                type: "POST",
                            data: $('form').serialize(),
                            datatype: "json",
                            success: function (result) {
                                $("#dialogContent").html(result);
                            }
                        });
        }
        }
    });
        });
        $(".UpdateConnection").on("click", function (e) {
            e.preventDefault();

            $("<div id='dialogContent'></div>")
                .addClass("dialog")
                .appendTo("body")
                .load(this.href)
                .dialog({
                    title: $(this).attr("data-dialog-title"),
                    close: function () { $(this).remove() },
                    modal: true,
                    buttons: {
                        "Update": function () {
                            $.ajax({
                                url: "@Url.Action("UpdateConnectionPartial", "Workflow")",
                                type: "POST",
                            data: $('form').serialize(),
                            datatype: "json",
                            success: function (result) {
                                $("#dialogContent").html(result);
                            }
                        });
        }
        }
    });
        });
        $(".CreateConnection").on("click", function (e) {
            e.preventDefault();

            $("<div id='dialogContent'></div>")
                .addClass("dialog")
                .appendTo("body")
                .load(this.href)
                .dialog({
                    title: $(this).attr("data-dialog-title"),
                    close: function () { $(this).remove() },
                    modal: true,
                    buttons: {
                        "Create": function () {
                            $.ajax({
                                url: "@Url.Action("CreateConnectionPartial", "Workflow")",
                                type: "POST",
                            data: $('form').serialize(),
                            datatype: "json",
                            success: function (result) {
                                $("#dialogContent").html(result);
                            }
                        });
        }
        }
    });
        });
        $(".DeleteConnection").on("click", function (e) {
            e.preventDefault();

            $("<div id='dialogContent'></div>")
                .addClass("dialog")
                .appendTo("body")
                .load(this.href)
                .dialog({
                    title: $(this).attr("data-dialog-title"),
                    close: function () { $(this).remove() },
                    modal: true,
                    buttons: {
                        "Delete": function () {
                            $.ajax({
                                url: "@Url.Action("DeleteConnectionPartial", "Workflow")",
                                type: "POST",
                            data: $('form').serialize(),
                            datatype: "json",
                            success: function (result) {
                                $("#dialogContent").html(result);
                            }
                        });
        }
        }
    });
    });





        $(".close").on("click", function (e) {
            e.preventDefault();
            $(this).closest(".dialog").dialog("close");
        });
    });
    </script>
</body>
</html>
