@using Microsoft.AspNet.Identity


<!DOCTYPE html>

<html class="no-js">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/Scripts/js")*@

    <link rel="stylesheet" type="text/css" href="~/Content/normalize.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/demo.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/component.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/themes/base/jquery.ui.theme.css" />
    @*<link rel="stylesheet" type="text/css" href="~/Content/themes/base/jquery.ui." />*@
    <link rel="stylesheet" type="text/css" href="~/Content/Workflow.css" />


    <script src="~/Scripts/modernizr.custom.js"></script>
    <script src="~/Scripts/jquery-2.2.1.js"></script>
    <link href='@Url.Content("~/Content/themes/base/jquery-ui.css")' rel="stylesheet" type="text/css" />

</head>
<body>

    <div class="container">


        <ul id="gn-menu" class="gn-menu-main">
            <li class="gn-trigger">
                <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
                <nav class="gn-menu-wrapper">
                    <div class="gn-scroller">
                        <ul class="gn-menu">

                            <div class="demo " style="line-height:50px;">
                                <input type="checkbox" id="hd-1" class="hide " />
                                <label for="hd-1">Your projects:</label>
                                <div>
                                    <ul class="gn-submenu" style="border-top: 1px solid #c6d0da;"></ul>
                                    @if (Request.IsAuthenticated)
                                    {
                                        <div class="IconMenuAdd">
                                            @Html.ActionLink("Create new project ", "CreateProjectPartial", "Workflow",
                                                       new
                                                       {
                                                           @id = "IconMenuAdd",
                                                           data_dialog_title = "Create new project"
                                                       })
                                        </div>
                                    }
                                    <div id="proj">
                                        <div id="ListProject">
                                            @Html.Partial("ListProjectPartial")


                                        </div>


                                    </div>


                                </div>
                            </div>



                            <li><a class="gn-icon">Settings</a></li>

                        </ul>
                    </div><!-- /gn-scroller -->
                </nav>
            </li>
            <li class="codrops-icon dropdown TopRightMenu">
                <a class="dropdown-toggle" id="User" data-toggle="dropdown" href="#" aria-expanded="false">
                </a>

                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <div class="SettingsUser">
                            @Html.ActionLink("Settings account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                        </div>
                    </li>

                    <li>
                        <div class="LogOutUser">
                            @if (Request.IsAuthenticated)
                            {
                                @Html.ActionLink("Log Off", "LogOff", "Account");

                            }
                            else
                            {
                                <ul class="LogOutUser">
                                    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                                    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                                </ul>
                            }
                        </div>

                    </li>
                </ul>

            </li>

            <li class="codrops-icon dropdown ">
                @Html.Partial("_NotificationUserPartial")




            </li>


        </ul>



        @*<header>

            </header>*@

    </div><!-- /container -->
    <div class="container-fluid ">
        @RenderBody()
        <div id="notify"></div>



    </div>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/Workflow.js"></script>


    <script src="~/Scripts/classie.js"></script>
    <script src="~/Scripts/gnmenu.js"></script>
    <script>
        new gnMenu(document.getElementById('gn-menu'));
    </script>
    <script src="~/Scripts/jquery-ui-1.10.2.min.js"></script>

    <script>

        $(document).ready(function () {

            $.ajaxSetup({ cache: false });

            @*ModalPostDialogCreateWithNotifyAndUpdate("#IconMenuAdd", '@Url.Action("CreateProjectPartial", "Workflow")', '@Url.Action("ListProjectPartial", "Workflow")');
            ModalPostDialogDeleteWithNotifyAndUpdate(".IconModalDelete", '@Url.Action("DeleteProjectPartial", "Workflow")', '@Url.Action("ListProjectPartial", "Workflow")');*@

            ModalPostDialogCreate("#IconMenuAdd", '@Url.Action("CreateProjectPartial", "Workflow")');

            ModalPostDialogDelete(".IconModalDelete", '@Url.Action("DeleteProjectPartial", "Workflow")');

            ///Modal edit for edit Project
            ModalPostDialogUpdate(".IconModalEdit", '@Url.Action("UpdateProjectPartial", "Workflow")');
            ///Modal edit for edit Connection
            ModalPostDialogUpdate(".UpdateConnection", '@Url.Action("UpdateConnectionPartial", "Workflow")');
            ModalPostDialogUpdate(".UpdateConnectionItem", '@Url.Action("UpdateConnectionPartial", "Workflow")');
            ModalPostDialogUpdate(".LinkEdit", '@Url.Action("UpdateConnectionPartial", "Workflow")');
            ///Modal create Connection
            ModalPostDialogCreate(".CreateConnection", '@Url.Action("CreateConnectionPartial", "Workflow")');

            ModalPostDialogDelete(".DeleteConnection", '@Url.Action("DeleteConnectionPartial", "Workflow")');
            ModalPostDialogDelete(".DeleteConnectionItem", '@Url.Action("DeleteConnectionPartial", "Workflow")');

            ModalPostDialogInvite(".IconModalInvite", '@Url.Action("InviteUserToProjectPartial", "Workflow")');


            $(".close").on("click", function (e) {
                e.preventDefault();
                $(this).closest(".dialog").dialog("close");
            });
        });

    </script>
</body>
</html>
