@model QueryBuilderMVC.Models.UserViewModel

@{
    ViewBag.Title = "Users for shared";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary();

    <div class="col-md-12">
       @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })  
    </div>
    @Html.HiddenFor(model => model.ProjectId, new { placeholder = Model.ProjectId })
    @Html.HiddenFor(model => model.UserId, new { @id = "invitedUserId", value = "" })        
}

<script type="text/javascript">
    $(document).ready(function() {
        $("#UserName").autocomplete({
            source: function(request, response) {
                $.ajax({
                    url: "/Workflow/SearchUser",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term, projectId: @Model.ProjectId },
                    success: function(data) {
                        response($.map(data, function(item) {
                            return { label: item.UserName, value: item.UserName, id: item.Id };
                        }));

                    }
                });
            },
            select: function(event, ui) {
                $('#invitedUserId').val(ui.item.id);
            }
        });
    })
</script>



