@model QueryBuilderMVC.Models.QueryViewModel

@using (Html.BeginForm())
{
	@Html.ValidationSummary();

	<div>
        <p class="TextField" style="color:black;">
            Name: @Html.EditorFor(x => x.QueryName)
            </p>
	</div>
    <div>
        <p class="TextField" style="color:black; display:none">
            Database: @Html.EditorFor(x => x.ProjectID,
       new { placeholder = Model.ProjectID })

        </p>
    </div>
    <div>
        <p class="TextField" style="color:black;">
            Description: @Html.EditorFor(x => x.Description)
        </p>
    </div>
    <div>
       
        <p class="TextField" style="color:black;display:none">
            Database: @Html.TextBoxFor(x => x.QueryBody)
        </p>
    </div>
}
<p class="TextField">
    <textarea id="textquery" disabled="disabled"> </textarea>
</p>
<script>
        var s = FormatQueryString();
        $("#QueryBody").val(s);
        $("#textquery").val(s);
</script>