@model QueryBuilderMVC.Models.ProjectViewModel

@*@using (Html.BeginForm())
{
    @Html.ValidationSummary();
    <div>
        @Html.LabelFor(model => model.Name)
        <div>
            @Html.EditorFor(x => x.Name)

        </div>
    </div>
    <div>
        @Html.LabelFor(model => model.Description)
        <div>
            @Html.EditorFor(x => x.Description)
        </div>
    </div>
}*@

@using (Html.BeginForm())
{

    @Html.ValidationSummary();
    <p class="TextField">@Resources.Resource.CreateProjectName @Html.TextBoxFor(x => x.Name) </p>
    <p class="TextField">@Resources.Resource.CreateProjectDescription @Html.TextBoxFor(x => x.Description)</p>
   
}


