@model QueryBuilderMVC.Models.ProjectViewModel

@using (Html.BeginForm("List", "Workflow", "Create new connection"))
{
    @Html.ValidationSummary();
    <p class="TextField" style="color:black;">Name:     @Html.TextBoxFor(x => x.ConnectionDb.ConnectionName, new {placeholder = Model.ConnectionDb.ConnectionName })</p>
    <p class="TextField" style="color:black;">Server:   @Html.TextBoxFor(x => x.ConnectionDb.ServerName, new { placeholder = Model.ConnectionDb.ServerName })</p>
    <p class="TextField" style="color:black;">Login:    @Html.TextBoxFor(x => x.ConnectionDb.LoginDB, new { placeholder = Model.ConnectionDb.LoginDB })</p>
    <p class="TextField" style="color:black;">Password: @Html.PasswordFor(x => x.ConnectionDb.PasswordDB)</p>
    <p class="TextField" style="color:black;">Database: @Html.TextBoxFor(x => x.ConnectionDb.DatabaseName, new { placeholder = Model.ConnectionDb.DatabaseName })</p>
    <input type="hidden" value="@Model.IdCurrentProject" name="IdCurrentProject" />
    <p style="display:none">@Html.TextBox(@Model.IdCurrentProject.ToString())   </p>
   
     <p><input type="submit" name="action" value="Save connection" style="color:black;"/></p>




}
