@model QueryBuilderMVC.Models.ConnectionViewModel

@*@using (Html.BeginForm("List", "Workflow", "Create new connection"))*@


@using (Html.BeginForm())
{
    @Html.ValidationSummary();

    <div>
        @Html.LabelFor(model => model.ConnectionName)
        <div>
            @Html.EditorFor(x => x.ConnectionName)
        </div>
    </div>
    <div>
        @Html.LabelFor(model => model.ServerName)
        <div>
            @Html.EditorFor(x => x.ServerName)
        </div>
    </div>
    <div>
        @Html.LabelFor(model => model.LoginDB)
        <div>
            @Html.EditorFor(x => x.LoginDB)
        </div>
    </div>
    <div>
        @Html.LabelFor(model => model.PasswordDB)
        <div>
            @Html.EditorFor(x => x.PasswordDB)
        </div>
    </div>
    <div>
        @Html.LabelFor(model => model.DatabaseName)
        <div>
            @Html.EditorFor(x => x.DatabaseName)
        </div>
    </div>
    <p class="TextField" style="color:black; display:none;">
        Database: @Html.TextBoxFor(x => x.ConnectionOwner,
       new { placeholder = Model.ConnectionOwner })
    </p>

                                                                    @*< p class="TextField" style="color:black;">Name:  </p>*@
                                                                    @*@Html.LabelFor(model => model.Name)
                                                                        @Html.TextBoxFor(x => x.ConnectionName)
                                                                        <p class="TextField" style="color:black;">Server:</p>
                                                                         <p class="TextField"></p>@Html.TextBoxFor(x => x.ServerName)
                                                                        <p class="TextField" style="color:black;">Login:</p>
                                                                        @Html.TextBoxFor(x => x.LoginDB)
                                                                        <p class="TextField" style="color:black;">Password:</p>
                                                                        @Html.PasswordFor(x => x.PasswordDB)
                                                                        <p class="TextField" style="color:black;">Database: </p>
                                                                        @Html.TextBoxFor(x => x.DatabaseName)
                                                                        <p class="TextField" style="color:black; display:none;">Database: @Html.TextBoxFor(x => x.ConnectionOwner, new { placeholder = Model.ConnectionOwner
                                                                        })</p>*@

                                                                    @*<input type = "hidden" value="@Model." name="IdCurrentProject" />*@

                                                                    @*<p><input type = "submit" name="action" value="Save connection" style="color:black;"/></p>*@




}
