@model QueryBuilderMVC.Models.ProjectViewModel
@using SharkDev.MVC

<link href="~/Content/SharkDev.TreeView.css" rel="stylesheet" />

@{
    Layout = "~/Views/Shared/_Workflow.cshtml";
}

<div style="padding-top: 20px; ">

    <div class="column column_left col-xs-12 col-lg-3 col-md-3 col-sm-3" \>

        <div class="portlet" id="id_1">
            <div class="portlet-header ">
                <div style="width:100%; height: 30px;">
                    @if (Request.IsAuthenticated)
                    {
                        @ViewBag.name
                    }
                    else
                    {

                        <span>@Model.Name</span>

                    }


                    @* IF user autorized and choose current project show buttons for delete and edit project *@


                    @if ((Model.IdCurrentProject != 0) && (Request.IsAuthenticated))
                    {
                        <div>

                            @Html.ActionLink(" ", "DeleteProjectPartial", "Workflow", new { id = Model.IdCurrentProject },
                                new
                                {
                                    @class = "viewDialogDelete IconModalDelete",
                                    data_dialog_title = "Delete project"
                                })
                        </div>
                        <div>
                            @Html.ActionLink(" ", "UpdateProjectPartial", "Workflow", new { id = Model.IdCurrentProject },
                                new
                                {
                                    @class = "viewDialogEdit IconModalEdit",
                                    data_dialog_title = "Edit project"
                                })
                        </div>

                    }
                    else
                    {

                    }

                </div>

            </div>
            <div class="portlet-content">

                <div class="">
                    @if (!Request.IsAuthenticated)
                    {
                        <p>@Model.Description</p>
                    }
                    <p>@ViewBag.desk</p>

                </div>

            </div>
        </div>

        <div class="portlet " id="id_2">
            <div class="portlet-header">

                <div style="display:inline-block;">
                    <div>My connections</div>
                    @if ((Model.IdCurrentProject != 0) && (Request.IsAuthenticated))
                    {
                        <div>
                            @if (ViewBag.ConnectionName == "ConnectionName")
                            {

                                <div>
                                    @Html.ActionLink(" ", "CreateConnectionPartial", "Workflow", new { id = Model.IdCurrentProject },
                                    new
                                    {
                                        @class = "CreateConnection",
                                        data_dialog_title = "Create connection"
                                    })
                                </div>
                            }
                            else
                            {
                                @Html.ActionLink(" ", "CreateConnectionPartial", "Workflow", new { id = Model.IdCurrentProject, count = ViewBag.Count },
                                    new
                                    {
                                        @class = "CreateConnection",
                                        data_dialog_title = "Create connection"
                                    })
                            }


                        </div>

                    }

                </div>


            </div>
            <div class="portlet-content">
                @if (Model.IdCurrentProject != 0)
                {
                    foreach (var item in Model.ConnectionDbs)
                    {
                        <div style="width:100%; border-bottom: solid 1px gray; height: 30px;">
                            @if (Request.IsAuthenticated)
                            {
                                <div class="ItemNameConnection">
                                    @Html.ActionLink(@item.ConnectionName, "UpdateConnectionPartial", "Workflow", new { id = item.ConnectionID },
                                new
                                {
                                    @class = "LinkEdit",
                                    data_dialog_title = "Update connection"
                                })
                                </div>

                                <div>
                                    @Html.ActionLink(" ", "DeleteConnectionPartial", "Workflow", new { id = item.ConnectionID },
                            new
                            {
                                @class = "DeleteConnectionItem iconHeaderDeleteItem",
                                data_dialog_title = "Delete connection"
                            })
                                </div>
                                <div class="">
                                    @Html.ActionLink(" ", "UpdateConnectionPartial", "Workflow", new { id = item.ConnectionID },
                                        new
                                        {
                                            @class = "UpdateConnectionItem",
                                            data_dialog_title = "Update connection"
                                        })
                                </div>
                            }
                            else
                            {
                                <div class="ItemNameConnection">
                                    @item.ConnectionName
                                </div>
                            }

                            <div>
                                @Html.ActionLink(" ", "ERModel", "Builder", new { id = item.ConnectionID },
                                        new
                                        {
                                            @class = "ERModel",
                                            data_dialog_title = "ER-Model"
                                        })
                            </div>
                        </div>
                        <br />

                    }
                }

            </div>
        </div>

    </div>
    <div class="col-xs-12 col-lg-6 col-md-6 col-sm-6">

        <div class="nonSortable">
            <div class="portlet-header">QueryBuilder</div>
            <div id="QueryBuilder" class="portlet-content">



                <script>
                    var text = $(".ItemQuery").text();

                </script>
            </div>
        </div>
        <div class="nonSortable">
            <div class="portlet-header">Result query</div>
            <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
        </div>
    </div>


    <div class="column column_right col-xs-12 col-lg-3 col-md-3 col-sm-3">

        <div class="portlet" id="id_3">
            <div class="portlet-header">Databases</div>
            <div class="portlet-content">
                @if (ViewBag.TreeData != null)
                {
                    @Html.SharkDev().TreeView(settings =>
           {
               settings.Id = "treeViewContainer";
               settings.Header.Text = ViewBag.NameDatabase;
               settings.Header.Visible = true;
               settings.Header.Expanded = true;
               settings.ClientHandlers.ContentSelect = "function (e) {console.log(e);}";
               settings.AutoCompleteHandler = Url.Content("~/TreeView/GetBySample");
               //settings.Height = 350;
               //settings.Width = 270;
               settings.DataOnClient = true;
           }).GetContent(ViewBag.TreeData)
                }
               


            </div>
        </div>

        <div class="portlet" id="id_4">
            <div class="portlet-header">Query</div>
            <div class="portlet-content">
            </div>
        </div>

    </div>

</div>


<script src="~/Scripts/WorkflowList.js"></script>
<script src="~/Scripts/SharkDev.treeView.js"></script>

<script>

    $(function SetGetWindow() {
        $(".column").sortable(
            {
                connectWith: ".column",
                handle: ".portlet-header",
                cancel: ".portlet-toggle",
                placeholder: "portlet-placeholder ui-corner-all",
                update: function (event, ui) {
                    var sort_right = $('.column_right').sortable('serialize', { key: 'id' });
                    var sort_left = $('.column').sortable('serialize', { key: 'id' });
                    document.cookie = "sort_right"+@Model.IdCurrentProject+"= " + sort_right;
                    document.cookie = "sort_left"+@Model.IdCurrentProject+"= " + sort_left;
                }

            });

        var x = get_cookie("sort_left"+@Model.IdCurrentProject);
        set_blocks(@Model.IdCurrentProject);

    } );


    $("#treeViewContainer").addClass("column col-xs-12");
    
    $(function()
    {
        $(".divinsideli").each(function(){
            var name = $(this).text();
            //console.log($(this).text());//table name
            var s = $(this).siblings().first();
            //console.log(s);
            $(s).each(function(){
                $(this).children().addClass(name);
            });
        });
        
        
  
    });

    $(function() {
        $( ".divInsideLi" ).draggable({
            appendTo: "body",
            helper: "clone",
            cursor: "move",
            

        });
        $( "#QueryBuilder" ).droppable({
            activeClass: "ui-state-default",
            hoverClass: "ui-state-hover",
            accept: ":not(.ui-sortable-helper)",
            drop: function( event, ui ) {
             
                var tableName = ($(ui.draggable).parent().first().attr("class"));
                $( "<div class='ItemQuery "+ tableName +"'></div>" ).text( ui.draggable.text() ).appendTo( this );
            }
        });
    });
    $(function()
    {
        $("#QueryBuilder").sortable();
        $("#QueryBuilder").disableSelection();
    })
</script>