@model QueryBuilderMVC.Models.ProjectViewModel

@{
    Layout = "~/Views/Shared/_Workflow.cshtml";
}

<div style="padding-top: 20px; ">

    <div class="column column_left col-xs-12 col-lg-3 col-md-3 col-sm-3" \>

        <div class="portlet" id="id_1">
            <div class="portlet-header ">
                <div style="display:inline-block;">
                    @ViewBag.name
                    @if ((Model.IdCurrentProject != 0) && (Request.IsAuthenticated))
                    {
                        <div>

                            @Html.ActionLink(" ", "DeleteProjectPartial", "Workflow", new { id = Model.IdCurrentProject },
                                new
                                {
                                    @class = "viewDialogDelete IconModalDelete",
                                    data_dialog_title = "Delete project"
                                })
                        </div>
                        <div>
                            @Html.ActionLink(" ", "UpdateProjectPartial", "Workflow", new { id = Model.IdCurrentProject },
                                new
                                {
                                    @class = "viewDialogEdit IconModalEdit",
                                    data_dialog_title = "Edit project"
                                })
                        </div>

                    }

                </div>

            </div>
            <div class="portlet-content">

                <div class="">
                    <p>@ViewBag.desk</p>

                </div>

            </div>
        </div>

        <div class="portlet " id="id_2">
            <div class="portlet-header">

                <div style="display:inline-block;">
                    My connections
                    @if ((Model.IdCurrentProject != 0) && (Request.IsAuthenticated))
                    {
                        <div>
                            @if (ViewBag.ConnectionName != "ConnectionName")
                            {
                                <div>
                                    @Html.ActionLink(" ", "UpdateConnectionPartial", "Workflow", new { id = Model.IdCurrentProject },
                                    new
                                    {
                                        @class = "UpdateConnection",
                                        data_dialog_title = "Update connection"
                                    })
                                </div>
                                <div>
                                    @Html.ActionLink(" ", "DeleteConnectionPartial", "Workflow", new { id = Model.IdCurrentProject },
                                    new
                                    {
                                        @class = "DeleteConnection",
                                        data_dialog_title = "Delete connection"
                                    })
                                </div>
                                <div>@Html.ActionLink(" ", "CreateConnectionPartial", "Workflow", new { id = Model.IdCurrentProject },
                                    new
                                    {
                                        @class = "CreateConnection",
                                        data_dialog_title = "Create connection"
                                    })</div>
                            }
                            else
                            {
                                @Html.ActionLink(" ", "CreateConnectionPartial", "Workflow", new { id = Model.IdCurrentProject },
                                    new
                                    {
                                        @class = "CreateConnection",
                                        data_dialog_title = "Create connection"
                                    })
                            }


                        </div>

                    }

                </div>


            </div>
            <div class="portlet-content">
                @if (Model.IdCurrentProject != 0)
                {
                    foreach (var item in Model.ConnectionDbs)
                {
                        <p>ID= @item.ConnectionID</p>
                    }
                }


                @*<p>@ViewBag.ConnectionOwner</p>
                <p>@ViewBag.ConnectionName </p>
                <p>@ViewBag.DatabaseName </p>
                <p>@ViewBag.ServerName </p>*@

            </div>
        </div>

    </div>
    <div class="col-xs-12 col-lg-6 col-md-6 col-sm-6">

        <div class="nonSortable">
            <div class="portlet-header">QueryBuilder</div>
            <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
        </div>
        <div class="nonSortable">
            <div class="portlet-header">Result query</div>
            <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
        </div>
    </div>


    <div class="column column_right col-xs-12 col-lg-3 col-md-3 col-sm-3">

        <div class="portlet" id="id_3">
            <div class="portlet-header">Links</div>
            <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
        </div>

        <div class="portlet" id="id_4">
            <div class="portlet-header">Images</div>
            <div class="portlet-content">
                <ul class="sorted">
                    @Html.ActionLink("ER-MODEL", "ERModel", "Builder",
                                                       new
                                                       {
                                                           id = ViewBag.ConnectionID
                                                       }, null)
                </ul>
            </div>
        </div>

    </div>

</div>


@if (Request.IsAuthenticated)
{







}
else
{

    <h1 class="col-lg-6">Autorized please</h1>
}


<style>
    .column {
        float: left;
        padding-bottom: 100px;
    }

    .nonSortable {
        margin: 0 1em 1em 0;
        padding: 0.3em;
    }

    .portlet {
        margin: 0 1em 1em 0;
        padding: 0.3em;
    }

    .portlet-header {
        padding: 0.2em 0.3em;
        margin-bottom: 0.5em;
        position: relative;
    }

    .portlet-toggle {
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -8px;
    }

    .portlet-3 {
        position: absolute;
        top: 50%;
        right: 45px;
    }

    .portlet-2 {
        position: absolute;
        top: 50%;
        right: 20px;
    }

    .portlet-content {
        padding: 0.4em;
    }

    .portlet-placeholder {
        border: 1px dotted black;
        margin: 0 1em 1em 0;
        height: 50px;
    }

    .iconHeader {
        background-repeat: no-repeat;
        width: 27px;
        height: 27px;
        background-size: 25px;
        background-position: center;
        padding: 0;
        margin: 0;
    }

    .iconHeaderEdit {
        background-image: url(../../Images/Icon/edit2.png);
        margin-top: -13px;
    }

    .iconHeaderCreate {
        background-image: url(../../Images/Icon/add2.png);
        margin-top: -13px;
    }

        .iconHeaderCreate:hover {
            background-image: url(../../Images/Icon/add.png);
        }

    .iconHeaderEdit:hover {
        background-image: url(../../Images/Icon/edit.png);
    }

    .iconHeaderDelete {
        background-image: url(../../Images/Icon/Delete2.png);
        margin-top: -13px;
    }

        .iconHeaderDelete:hover {
            background-image: url(../../Images/Icon/Delete.png);
        }
</style>


<script>






    $(function () {
        $(".column").sortable(
            {
                connectWith: ".column",
                handle: ".portlet-header",
                cancel: ".portlet-toggle",
                placeholder: "portlet-placeholder ui-corner-all",
                update: function (event, ui) {
                    var sort_right = $('.column_right').sortable('serialize', { key: 'id' });
                    var sort_left = $('.column').sortable('serialize', { key: 'id' });
                    document.cookie = "sort_right"+@Model.IdCurrentProject+"= " + sort_right;
                    document.cookie = "sort_left"+@Model.IdCurrentProject+"= " + sort_left;
                }

            });

        var x = get_cookie("sort_left"+@Model.IdCurrentProject);
        console.log("Cookie  "+x);

        //$(function sss ()
        //{
        //    $(".column_left").append($(set_blocks()));
        //});
        //$(".column_left").append($(set_blocks()));
        set_blocks();

        function set_blocks()
        {
            var right = get_cookie("sort_right"+@Model.IdCurrentProject);
            var left = get_cookie("sort_left"+@Model.IdCurrentProject);
            var pattern = /(id=[0-9])/gmi;
            while ((array = pattern.exec(left)) != null)
            {
                var result = array[0];
                result += pattern.lastIndex;
                var s = "#"+array[0];
                console.log(s);
                var ss = s.replace(/=/,"_")
                console.log(ss);
                $(".column_left").append($(ss));

            }
            while ((array = pattern.exec(right)) != null)
            {
                var result = array[0];
                result += pattern.lastIndex;
                var s = "#"+array[0];
                console.log(s);
                var ss = s.replace(/=/,"_")
                console.log(ss);
                $(".column_right").append($(ss));

            }
        }



        function get_cookie(cookie_name)
        {
            var result = document.cookie.match ( '(^|;) ?' + cookie_name + '=([^;]*)(;|$)');
            if (result)
            {
                return (unescape (result[2]));
            }
            else
            {
                return null;
            }
        }




        $(".portlet")
          .addClass("ui-widget ui-widget-content ui-helper-clearfix ui-corner-all")
            .find(".portlet-header")
            .addClass("ui-widget-header ui-corner-all")
            .prepend("<span class='ui-icon ui-icon-minusthick portlet-toggle'></span>");

        $(".nonSortable")
          .addClass(" ui-widget-content ui-helper-clearfix ui-corner-all")
            .find(".portlet-header")
            .addClass("ui-widget-header ui-corner-all")

        $(".viewDialogDelete")
            .prepend("<span class='iconHeaderDelete iconHeader portlet-2'></span>");

        $(".portlet")
        .find(".viewDialogEdit")
            .prepend("<span class='iconHeaderEdit iconHeader portlet-3'></span>");

        $(".UpdateConnection")
            .prepend("<span class='iconHeaderEdit iconHeader portlet-3'></span>");

        $(".DeleteConnection")
            .prepend("<span class='iconHeaderDelete iconHeader portlet-2'></span>");

        $(".CreateConnection")
            .prepend("<span class='iconHeaderCreate iconHeader portlet-2'></span>");

        $(".portlet-toggle").click(function () {
            var icon = $(this);
            icon.toggleClass("ui-icon-minusthick ui-icon-plusthick");
            icon.closest(".portlet").find(".portlet-content").toggle();
        });
    });





</script>
